@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
body{
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-form {
  background-color: #fff;
  border-radius: 50px 0 50px 0;
  min-width: 400px;
  max-width: 100%;
  /* overflow: hidden; */
}

.header {
  text-align: center;
  color: #0f0c29;
  padding: 1em;
  font-size: 20px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1em;

}

.my-form {
  padding: 1em;  
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.form-group input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 50px;
  width: 100%;
  display: block;
  padding: 1em;
  background-color: #ebebeb;
  font-size: 15px;
}

.form-group input:focus{
  border: 1px solid #0f0c29;
}



.form-group i {
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}
.form-group .error-message{
  margin: 0.5em 0 0 0.8em;
  display: none;
}
.form-group .forget-pass {
  color: #302b63;
  margin: 0.5em 0 0 0.8em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.buttons .btn {
  border: 1px transparent;
  border-radius: 3px;
  padding: 0.5em 1em;
  width: 100px;
  cursor: pointer;
}

.btn.confirm {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  width: 100%;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 1em;
  letter-spacing: 2px;
}

.hide-form {
  transform: translateY(-200%);
}

.appear-form {
  transform: translateY(0);
  transition: all 1.5s ease;
}

.form-group.success input{
    background-color: rgba(6, 126, 6, 0.247);
}

.form-group.success i.fa-check-circle {
    display: block !important;
    color: green;
}

.form-group.error input{
    background-color:#ff00003f;
}

.form-group.error i.fa-exclamation-circle{
    display: block !important;
    color: #e42f1b;
}

.form-group.error .error-message{
    display: block;
    color: red;
}

/* modal message to recovery password  */
.modal-message-container{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0s , opacity .5s;
}

.modal-message{
  background-color: #fff;
  border: none;
  /* min-height: 400px; */
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.button-container button{
  width: 100%;
  padding: .5em 1em;
  margin: .3em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.button-container .recover-pass-btn{
  background-color: rgba(6, 126, 6, 0.247);
}

.button-container .close-btn{
  background-color:#ff00003f;
}

.header-message{
  width:100%;
  height: 12vh;
  padding: 0 .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  background-color: #302b63;
  color: #fff;
  margin-bottom: 3em;
}

.header-message p{
  text-transform: capitalize;
  text-align: center;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}